<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">

<head>
    <meta charset="UTF-8">
    <title>MqFileSharer</title>
</head>
<body>
<form th:method="POST" th:action="@{/file}" th:object="${fileRequest}">
    <label for="AFilePath" style=" font-size: 75%" >Имя файла:</label>
    <input type="text" id="AFilePath" name="filePath" style="font-size: 75%" size="60" th:field="*{filePath}">
    <input type="submit" value="Найти" class="upload_green" style=" font-size: 45%">
</form>
<div th:if="${!isRoot}" >
    <form th:action="@{/getUpload}" th:method="POST" th:object="${fileRequest}">
        <input type="hidden" id="BFilePath" name="filePath" style="font-size: 45%" size="60" th:field="*{filePath}">
        <input type="submit" class="upload_green" value="Загрузить файл сюда">
    </form>
</div>
<br>
Выберите папку или файл:
<div th:each="file : ${files}">
    <div th:if="${file.isFolder()}">
        <form th:method="POST" th:action="@{/files}" th:object="${fileRequest}">
            <input type="hidden" id="filePath" name="filePath" th:value="${file.filePath}">
            <div th:if="${file.isDrive()}"  class="module">
                <img for="drive" src="drive.png" class="pic">
                <input  type="submit" id="drive" class="butt" th:value="${file.getFilePath()}"></div>
            <div th:if="${!file.isDrive() && file.isFolder()}" class="module">
                <img for="folder" src="folder.png" class="pic">
                 <input  type="submit" id="folder" class="butt" th:value="${file.getName()}"></div>
        </form>
    </div>
    <div th:if="${!file.isFolder()}">
            <form th:method="POST" th:action="@{/file}" th:object="${fileRequest}">
            <input type="hidden" id="filePath2" name="filePath" th:value="${file.filePath}">
                <div th:if="${!file.isPic() && !file.isVideo()}"><img for="file1" src="file.png" class="pic">
                <input  type="submit" id="file1" class="butt" th:value="${file.getName()}"></div>
                <div th:if="${file.isPic() && !file.isVideo()}"><img for="file" src="picture.png" class="pic">
                    <input  type="submit" id="file2" class="butt" th:value="${file.getName()}"></div>
                <div th:if="${!file.isPic() && file.isVideo()}"><img for="file" src="video.png" class="pic">
                    <input  type="submit" id="file3" class="butt" th:value="${file.getName()}"></div>
        </form>
    </div>
</div>
</body>
</html>